// $colorPrimary: #003458;
$colorPrimary: #0077C8;
$colorPrimaryLight: #005b9a;
$colorSecondary: #87B82C;
// $colorPrimaryLighter: #;
// $colorPrimaryLightest: #;

$colorAccent: #4ecbff;
$colorAccentLight: #E9F7FC;

$colorNeutral: #4c84ce;
$colorNeutralLight: #82a4da;

$colorGray: #e5e5e5;
$colorGrayDark: #848484;

$colorWhite: #ffffff;
$colorBlack: #000000;

$colorWarn: #f3a31d;
$colorDanger: red;

$colorSuccess: #3fa02b;
