html,
body {
  height: 100%;
  overflow-y: auto;
}
body {
  margin: 0;
  font-family: 'museo-sans';
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: auto !important;
  top: 0 !important;
}
